html {
  font-size: 16px;
}

.editor {
  margin: 0 auto;
  margin-top: 10vh;
  min-width: 250px;
  width: 70vw;
  max-width: 768px;
  border-radius: 15px;
  box-shadow: lightgray 0 0 5px 0 inset;
  color: #5c89a5;
  padding: 1rem;
  padding-top: 0;
  background-color: white;
}

.editor__content {
  max-height: 70vh;
  overflow-y: auto;
}


.button {
  background: none;
  border: none;
}

.button:focus {
  outline: none;
}